
body{
    background: linear-gradient(to right, 
    hsl(  0, 100%, 50%) 0%,
    hsl( 60, 100%, 50%) 16.67%,
    hsl(120, 100%, 50%) 33.33%,
    hsl(180, 100%, 50%) 50%, 
    hsl(240, 100%, 50%) 66.67%,
    hsl(320, 100%, 50%) 83.33%, 
    hsl(360, 100%, 50%) 100%
  );
}




.sectionmargin{
    margin-top: 40px;
}

.cardmargin{
    margin-top: 25px;
}



img-fluid{
   
    object-fit: cover;
    object-position: center;
    transition: 0.5s;
}

h1{
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}



  






